 @import '../../index.css';

#background-overlay {
  background-color: var(--black);
  position: fixed;
  opacity: .5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
}

#drawer {
  background-color: var(--black);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  z-index: 10;
}

#close-drawer-btn {
  font-size: 2.5em;
  background-color: var(--black);
  color: var(--white);
  border: none;
  margin: .5em;
}

#close-drawer-btn:hover {
  cursor: pointer;
}

#links-menu {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em 0em;
}

.page-link {
  background-color: var(--black);
  color: var(--white);
  padding: 1em 0em;
  margin: 1em 0em;
  font-size: 1em;
  border: .3em solid var(--white);
}

.page-link:hover {
  color: var(--green);
  border: .3em solid var(--green);
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.05);
}