@import '../../index.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--black);
  min-width: 100vw;
}

#pg-title {
  color: var(--white);
  padding: 1em 0em;
}