@import '../../index.css';

.usr-stock-li {
  background-color: var(--black);
  color: var(--white);
  display: block;
  width: 95%;
  padding: 1em;
  margin: 1em 1em;
  display: flex;
  box-shadow: .35em .35em .35em var(--gray);
}

.usr-stock-li:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.usr-stock-logo {
  color: var(--green);
  font-size: 2em;
  padding: .2em;
  font-weight: bold;
  text-shadow: 0 0 .1em var(--light-gray), .01em .01em .1em var(--light-gray), .01em -.01em .1em var(--light-gray);
}

.usr-stock-name-symbol,
.usr-stock-price {
  font-size: 1.3em;
  padding: .8em .5em;
  font-weight: bold;
}